.text{
    color: burlywood;
}

.text2{
    color:rgb(238, 97, 125);
}

.text3{
    color:lightskyblue;
}

h1{
    color:cornflowerblue;
}

h2{
    color: olivedrab;
}

ol{
    color:plum;
}

p{
    color: rgb(250, 148, 165);
}